input.form-control.focused{
  background-color: #7162e4;
  border-radius: 20px;
  color: #fff;
}
.footer{
  margin-left: 250px;
}
.table-with{
  margin-left: 250px;
}
.form-add-product{
  margin-left: 350px;
}
.card-body{
  background-color: #fff;
}
.dz-default.dz-message{
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}
