<!DOCTYPE html>
<html>
  <head>
    <title>PeachBlossom</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/8748c74444.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
